<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name='viewport' content='width=device-width' />

  <title>
    Support
  </title>
  <script id="server"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>
